<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Reading Room</title>
    <%= stylesheet_link_tag "landing" %>
</head>
<body>

    <h1>Welcome to The Reading Room, your online destination for endless reading possibilities</h1>
    <p>Our virtual library houses a vast collection of books, magazines, and other literature for your reading pleasure. Whether you're looking for the latest bestsellers, classic literature, or educational materials, you'll find it all here. Our user-friendly platform makes it easy to browse and search for your desired content, and our constantly growing collection ensures that there's always something new to discover. With The Reading Room, you can access your reading materials from anywhere, at any time. So, grab a book, find a comfortable spot, and let the reading begin!</p>
   
<div></div>
</body>
</html>